<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ app_title }}</title>
        <link href="stylesheets/app.css" rel="stylesheet" media="screen,projection" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    </head>
    
    <body>
        <div id="main" role="main">
            <h1>{{ app_title }}</h1>
            <p>
                Ever wandered around the city of Berlin, Germany, and wondered on which side of the Berlin Wall, which divided the city for nearly 30 years, you would be if it still existed? 
                <span class="app">West || Ost</span> is here to make you aware of that. It will tell you exactly one thing: if you are in the former western or eastern part of the city.
                And it vibrates your phone if you cross the former inner-city border.
            </p>
            
            <a href="#"><img src="images/appstore.png" alt="Available on the App Store" /></a>
            
            <footer>
                <p>An app by <a href="http://pb.io/">Philipp Bosch</a>. Follow <a href="http://twitter.com/philippbosch">@philippbosch</a> on twitter.</p>
            </footer>
        </div>
        {% unless debug %}
        <!-- Piwik --> 
        <script>
            var pkBaseURL = "//analytics.pb.io/";
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 8);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <noscript><p><img src="//analytics.pb.io/piwik.php?idsite=8" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
        {% endunless %}
    </body>
</html>