/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

#{$less-grid-element} {
    @include grid(10);
    margin: 72px auto;
}

#main {
    padding-top: 500px;
    background: image-url("map.png") 50% 0 no-repeat;
}

h1 {
    margin-bottom: 0.5em;
}

p {
    color: #888;
    margin: 2em 0;
}

.app {
    color: #FFF;
}

footer {
    font-size: 12px;
}

a {
    color: #FFF;
}